.main-container {
  background-color: rgba(6, 6, 41, 0.295);
  height: 80vh;
  width: 60vw;
}

nav {
  align-items: center;
  display: flex;
  justify-content: start;
  height: 70px;
  width: 100%;
}

li {
  color: white;
  margin: 25px;
  font-size: 20px;
  list-style: none;
}

li a {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 360px) and (max-width: 980px) {
  .main-container {
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: start;
    flex-direction: column;
  }
}