.main-container {
  background-color: rgba(6, 6, 41, 0.295);
  height: 80vh;
  width: 60vw;
}

nav {
  align-items: center;
  display: flex;
  justify-content: start;
  height: 70px;
  width: 100%;
}

li {
  margin: 20px;
  font-size: 20px;
  list-style: none;
}